{% extends 'news/base_blog.html' %}

{% block title %}
    Категорії
{% endblock %}

{% block content %}
    <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h4>Методички в категоріях:</h4>
        </div>
    </div>
    <div class="shadow p-3 mb-5 bg-white rounded">
        {% for category in categories %}

            <div class="card-body">
                <h5 class="card-title"><b><a href="{% url 'category_detail' pk=category.id %}">{{ category.title }}</a></b></h5>
            </div>
        {% endfor %}
    </div>

{% endblock %}

