{% extends 'news/base_blog.html' %}

{% block title %}
    Tags list
{% endblock %}

{% block content %}
    {% for tag in tags %}
        <div class="shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h5 class="card-title"><b><a href="#">{{ tag.title }}</a></b></h5>
{#                    <a href="{% url 'news_detail' pk=new.id %}"#}
{#                       class="btn btn-dark" style="float:right;">Читати</a>#}
                </div>
            </div>
    {% endfor %}

{% endblock %}

